<h1>
	Result Page:
</h1>
<ul>
	
<% for(var i=0;i<results.length;i++){  %>
	<li><strong><%=results[i]["Title"] %></strong> - <%=results[i]["Year"]%></li>
<% }  %>
	
</ul>

<a href="/">Search Again!</a>

								  